<meta charset="utf-8">

<title>章轲</title>
<meta name="description" content="章轲的个人学术主页">
<meta name="keywords" content="杭州师范大学">

{% include seo.html %}
<meta name="google-site-verification" content="PKHmLAmKgz_kbhyCnjvSUWqvTRoNQFIennrxkDoJ51k" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">

</head>

